:host {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.content-container {
    flex: 1;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 10px;
    overflow: auto;
}