<mat-card (click)="onItemClicked('/animation')">
  <mat-card-header>
    <mat-card-title>Animation</mat-card-title>
    <mat-card-subtitle>Animation</mat-card-subtitle>
  </mat-card-header>
</mat-card>
<mat-card (click)="onItemClicked('/grid')">
  <mat-card-header>
    <mat-card-title>Grid Lists</mat-card-title>
    <mat-card-subtitle>Grid List</mat-card-subtitle>
  </mat-card-header>
</mat-card>
<mat-card (click)="onItemClicked('/dialog')">
  <mat-card-header>
    <mat-card-title>Dialog</mat-card-title>
    <mat-card-subtitle>Dialog</mat-card-subtitle>
  </mat-card-header>
</mat-card>
<mat-card (click)="onItemClicked('/table')">
  <mat-card-header>
    <mat-card-title>Table</mat-card-title>
    <mat-card-subtitle>Table</mat-card-subtitle>
  </mat-card-header>
</mat-card>