@mixin grid-demo-theme($theme) {
    $primary: map-get($map: $theme, $key: primary);
    $accent: map-get($map: $theme, $key: accent);

    .grid-theme {
        background: mat-color($accent);
        mat-grid-tile {
            background: mat-color($primary);
        }
    }
}