<app-demo-item>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="app-notice">Name</div>
        <div class="app-primary-color"><strong>First Name:</strong></div>
        <mat-form-field>
            <input matInput formControlName="firstName">
        </mat-form-field>
        <div class="app-primary-color"><strong>Last Name:</strong></div>
        <mat-form-field>
            <input matInput formControlName="lastName">
        </mat-form-field>

        <ng-container formGroupName="address">
            <div class="app-notice">Address</div>
            <div class="app-primary-color"><strong>Province</strong></div>
            <mat-form-field>
                <!-- <input matInput formControlName="province"> -->
                <mat-select formControlName="province" (selectionChange)=onProvinceChanges($event)>
                    <mat-option *ngFor="let province of provinces" [value]="province">{{province}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="app-primary-color"><strong>City</strong></div>
            <mat-form-field>
                <!-- <input matInput formControlName="city"> -->
                <mat-select formControlName="city">
                    <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
                </mat-select>
            </mat-form-field>
        </ng-container>

        <ng-container formArrayName="aliases">
            <div class="add-alias-wrapper">
                <div class="app-notice add-alias-notice">Aliases</div>
                <button mat-mini-fab class="add-alias-icon" (click)="addAlias()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <ng-container *ngFor="let alias of aliases.controls; let i=index">
                <mat-form-field>
                    <input matInput [formControlName]="i" placeholder="Alias-{{i+1}}">
                </mat-form-field>
            </ng-container>
        </ng-container>

        <button mat-raised-button type="submit" color="primary" [disabled]="!profileForm.valid">Submit</button>

        <div class="app-outline">
            <p>Form Values: {{profileForm.value | json}}</p>
            <p>Form Status: {{profileForm.status}}</p>
            <button mat-raised-button (click)="patchValue($event)">Patch Value</button>
        </div>

    </form>
</app-demo-item>