<app-demo-item>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit($event)">
        <div class="app-notice">ID</div>
        <div [class]="isControlValid(name)?'app-primary-color':'app-warn-color'"><strong>Name:</strong></div>
        <div *ngIf="needShowError(name)" class="app-warn-fill app-warn-color"><strong>{{name.errors | json}}</strong>
        </div>
        <mat-form-field>
            <input matInput formControlName="name">
            <mat-hint *ngIf="name.pending">Validating...</mat-hint>
        </mat-form-field>
        <div class="app-primary-color"><strong>Phone:</strong></div>
        <div *ngIf="needShowError(phone)" class="app-warn-fill app-warn-color"><strong>{{phone.errors | json}}</strong>
        </div>
        <mat-form-field>
            <div matPrefix style="display: flex; flex-direction: row; align-items: center;">
                <mat-icon>phone</mat-icon>
                <div style="padding: 5px 5px 0 0;">+86</div>
            </div>
            <input matInput formControlName="phone">
            <button *ngIf="!!phone.value" mat-icon-button matSuffix (click)="clearPhone($event)">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <ng-container formGroupName="address">
            <div class="app-notice">Address</div>
            <div class="app-primary-color"><strong>Province</strong></div>
            <mat-form-field>
                <!-- <input matInput formControlName="province"> -->
                <mat-select formControlName="province" (selectionChange)=onProvinceChanges($event)>
                    <mat-option *ngFor="let province of provinces" [value]="province">{{province}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="app-primary-color"><strong>City</strong></div>
            <mat-form-field>
                <!-- <input matInput formControlName="city"> -->
                <mat-select formControlName="city">
                    <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
                </mat-select>
            </mat-form-field>
        </ng-container>

        <ng-container formArrayName="aliases">
            <div class="add-alias-wrapper">
                <div class="app-notice add-alias-notice">Aliases</div>
                <button mat-mini-fab class="add-alias-icon" [disabled]="aliases.length>=2" (click)="addAlias($event)">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div *ngIf="needShowError(aliases)" class="app-warn-fill app-warn-color" style="margin-bottom: 20px;">
                <strong>{{aliases.errors | json}}</strong></div>
            <ng-container *ngFor="let alias of aliases.controls; let i=index">
                <mat-form-field>
                    <input matInput [formControlName]="i" placeholder="Alias-{{i+1}}">
                </mat-form-field>
            </ng-container>
        </ng-container>

        <button class="flex-start" mat-raised-button type="submit" color="primary"
            [disabled]="!profileForm.valid">Submit</button>

        <div class="app-primary-outline">
            <p>Form Values: {{profileForm.value | json}}</p>
            <p>Form Status: {{profileForm.status}}</p>
            <p>Form Touched: {{profileForm.touched}}</p>
            <p>Form Dirty: {{profileForm.dirty}}</p>
            <button mat-raised-button (click)="patchValue($event)">Patch Value</button>
        </div>

    </form>
</app-demo-item>