form {
  display: flex;
  flex-direction: column;
}

.app-notice {
  border-radius: 5px;
  margin-bottom: 20px;
}

$noticeHeight: 52px;
$addAliasBorder: 60px;
$addAliasIconSide: 40px;

.add-alias-wrapper {
  height: $noticeHeight;
  position: relative;
  margin-bottom: 20px;
}

.add-alias-notice {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  border-width: $addAliasBorder;
}

.add-alias-icon {
  position: absolute;
  top: ($noticeHeight - $addAliasIconSide) / 2;
  left: ($addAliasBorder - $addAliasIconSide) / 2;
}

// ::ng-deep .mat-form-field-wrapper {
//     padding-bottom: 0;
// }

.flex-start {
  align-self: flex-start;
}

.app-primary-outline {
    margin-top: 20px;
  }