<app-demo-item>
    <form>
        <div>
            <strong>Appearance:</strong>
            <mat-radio-group [formControl]="appearanceControl" (change)="appearanceChanges($event)">
                <mat-radio-button *ngFor="let appearance of appearances" [value]=appearance>{{appearance}}
                </mat-radio-button>
            </mat-radio-group>
        </div>

        <div>
            <strong>Label Floating:</strong>
            <mat-radio-group [formControl]="floatingControl">
                <mat-radio-button *ngFor="let floating of floatings" [value]=floating.name
                    [disabled]="floating.disabled">{{floating.name}}
                </mat-radio-button>
            </mat-radio-group>
        </div>

        <mat-form-field [appearance]="appearanceControl.value" [floatLabel]="floatingControl.value">
            <mat-label>
                <mat-icon>favorite</mat-icon>Email
            </mat-label>
            <mat-icon matPrefix>email</mat-icon>
            <input matInput [formControl]="emailControl">
            <button mat-icon-button matSuffix *ngIf="emailControl.value" (click)="emailControl.setValue('')">
                <mat-icon>close</mat-icon>
            </button>
            <mat-hint>Hint</mat-hint>
            <mat-error>{{emailControl.errors | json}}</mat-error>
        </mat-form-field>
    </form>
</app-demo-item>