:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

app-awesome-table-filter {
    width: 100%;
    flex: none;
}

.table-container {
    width: 100%;
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-wrapper {
    width: 100%;
    flex: auto;
    overflow: auto;
}

table {
    width: 100%;
}

mat-paginator {
    flex: none;
    align-self: flex-end;
}