:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

app-awesome-table-filter {
    width: 100%;
    flex: none;
}

.table-container {
    width: 100%;
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin sticky-column {
    @for $var from 1 to 3 {
        .sticky-column-start-#{$var} {
            // font-size: ($var * 20) + px;
            .mat-table-sticky:nth-child(#{$var}) {
                border-right-width: 1px;
                border-right-style: solid;
            }
        }

        .sticky-column-end-#{$var} {
            .mat-table-sticky:nth-last-child(#{$var}) {
                border-left-width: 1px;
                border-left-style: solid;
            }
        }
    }
}

.table-wrapper {
    width: 100%;
    flex: auto;
    overflow: auto;

    @include sticky-column();
}

table {
    width: 100%;
}

.pagnimator-wrapper {
    width: 100%;
}

@mixin content-align($align, $justify) {
    ::ng-deep .mat-sort-header-container { justify-content: $justify; }
    .mat-cell:not(.detail-cell) { text-align: $align; }
}

.content-align-start {
    @include content-align(start, flex-start);
}

.content-align-center {
    @include content-align(center, center);
}

.content-align-end {
    @include content-align(end, flex-end);
}

.border-all {
    .mat-header-cell, .mat-cell {
        border-right-width: 1px;
        border-right-style: solid;
    }
}

.border-vertical {
    .mat-header-cell, .mat-cell {
        border-right-width: 1px;
        border-right-style: solid;
        border-bottom-width: 0px;
    }
}

.border-none {
    .mat-header-cell, .mat-cell {
        border-bottom-width: 0px;
    }
}

.detail-row {
    height: 0;
}

.detail-cell-border-none {
    border-bottom-width: 0px;
}

// ::ng-deep .mat-table-sticky {
//     background: cadetblue !important;
// }


.mat-header-cell, .mat-footer-cell, .mat-cell {
    // min-width: 180px;
    box-sizing: border-box;
  }

// .column-sticky {
//     .mat-table-sticky:nth-child(2) {
//         border-right-width: 1px;
//         border-right-style: solid;
//     }

//     .mat-table-sticky:nth-last-child(1) {
//         border-left-width: 1px;
//         border-left-style: solid;
//     }
// }