<app-awesome-table-filter *ngIf="filterable" [filterFor]="awesomeTable" [columnConfigs]="columnConfigs"
  [placeholder]="filterPlaceholder">
</app-awesome-table-filter>
<div class="table-container mat-elevation-z{{elevation}} ">
  <div class="table-wrapper">
    <table mat-table class="table-theme {{stickyColumnClass}}" [ngClass]="tableAdditionalClasses"
      [dataSource]="dataSource" matSort [matSortDisabled]="!sortable" (matSortChange)="onSortChanged($event)">
      <ng-container *ngFor="let columnConfig of columnConfigs" matColumnDef={{columnConfig.name}}
        [sticky]="columnConfig.stickyStart" [stickyEnd]="columnConfig.stickyEnd">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!columnConfig.sortable">
          {{columnConfig.header || columnConfig.name}}
        </th>
        <td mat-cell *matCellDef="let row">
          {{row[columnConfig.name]}}
        </td>
      </ng-container>
      <ng-container matColumnDef="testID">
        <th mat-header-cell *matHeaderCellDef>
          <div mat-sort-header [disabled]="true">NameTest</div>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
      <ng-container matColumnDef="filler">
        <th mat-header-cell *matHeaderCellDef> Filler header cell </th>
        <td mat-cell *matCellDef="let element"> Filler </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: [stickyHeader]"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="pagnimator-wrapper">
    <mat-paginator #paginator [ngStyle]="{'display': showPaginator ? 'inherit' : 'none'}" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions" (page)="onPageChanged($event)">
    </mat-paginator>
  </div>
</div>