<app-awesome-table-filter *ngIf="filterable" [filterFor]="awesomeTable" [columnConfigs]="columnConfigs"
  [placeholder]="filterPlaceholder">
</app-awesome-table-filter>
<div class="table-container mat-elevation-z{{elevation}} ">
  <div class="table-wrapper">
    <table mat-table class="table-theme {{stickyColumnClass}}" [ngClass]="tableAdditionalClasses"
      [dataSource]="dataSource" multiTemplateDataRows matSort [matSortDisabled]="!sortable"
      (matSortChange)="onSortChanged($event)">
      <ng-container *ngFor="let columnConfig of columnConfigs" matColumnDef={{columnConfig.name}}
        [sticky]="columnConfig.stickyStart" [stickyEnd]="columnConfig.stickyEnd">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!columnConfig.sortable">
          {{columnConfig.header || columnConfig.name}}
        </th>
        <td mat-cell *matCellDef="let row">
          {{row[columnConfig.name]}}
        </td>
      </ng-container>
      <ng-container matColumnDef="detailRow">
        <td class="detail-cell" [class.detail-cell-border-none]="state == 'collapsed'" mat-cell *matCellDef="let row"
          [attr.colspan]="displayedColumns.length">
          <div [@detailRowAnimation]="state" style="overflow: hidden">
            <ng-container *ngTemplateOutlet="detailRowTpl; context: { $implicit: row }"></ng-container>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: [stickyHeader]"></tr>
      <tr (click)="onClick()" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="detail-row" mat-row *matRowDef="let row; columns: ['detailRow']"></tr>
    </table>
  </div>
  <div class="pagnimator-wrapper">
    <mat-paginator #paginator [ngStyle]="{'display': showPaginator ? 'inherit' : 'none'}" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions" (page)="onPageChanged($event)">
    </mat-paginator>
  </div>
</div>