<app-demo-item></app-demo-item>
<div class="app-demo-item-wrapper">
  <div class="app-demo-item-title">Basic Table</div>
  <div class="app-demo-item-table-wrapper">
    <div class="mat-elevation-z8">
      <app-awesome-table [data$]="data$" [columnConfigs]="columnConfigs" [showPaginator]="false">
      </app-awesome-table>
    </div>
  </div>
</div>
<div class="app-demo-item-wrapper">
  <div class="app-demo-item-title">Table With Paginator</div>
  <div class="app-demo-item-table-wrapper">
    <div class="mat-elevation-z8">
      <app-awesome-table [data$]="data$" [columnConfigs]="columnConfigs" [pageSizeOptions]="[5, 10, 20]">
      </app-awesome-table>
    </div>
  </div>
</div>
<div class="app-demo-item-wrapper">
  <div class="app-demo-item-title">Table With Sorting</div>
  <div class="app-demo-item-table-wrapper">
    <div class="mat-elevation-z8">
      <app-awesome-table [data$]="data$" [columnConfigs]="columnConfigs" [pageSizeOptions]="[5, 10, 20]"
        sortable="true">
      </app-awesome-table>
    </div>
  </div>
</div>
<div class="app-demo-item-wrapper">
  <div class="app-demo-item-title">Table With Filter</div>
  <div class="app-demo-item-table-wrapper">
    <mat-form-field>
      <input matInput placeholder="filter" [(ngModel)]="filterValue">
    </mat-form-field>
    <div class="mat-elevation-z8">
      <app-awesome-table [data$]="data$" [columnConfigs]="columnConfigs" [pageSizeOptions]="[5, 10, 20]"
        [filterValue]="filterValue" sortable="true">
      </app-awesome-table>
    </div>
  </div>
</div>