:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-demo-item-wrapper {
    width: 80%;
    margin-top: 20px;
    // border: 1px solid rgba(0,0,0,.03);
}

.table-demo-item-title {
    padding: 20px;
}

.table-demo-item-table-wrapper {
    padding: 30px;
}