<div [class]="choosenTheme">
  <mat-sidenav-container>
    <!-- <mat-sidenav mode="push" opened>Sidenav content</mat-sidenav> -->

    <mat-toolbar color="primary" class="mat-elevation-z6 home-toolbar">
      <!-- <mat-toolbar-row> -->
      <a mat-button routerLink="">
        <mat-icon>home</mat-icon>
        <span class="home-title">My Angualr Demo</span>
      </a>
      <span class="fill-spacer"></span>
      <theme-picker (themeChoosen)="chooseTheme($event)"></theme-picker>
      <a mat-mini-fab color="accent" matTooltip="View source code" href="https://github.com/zhangzhihai1984/MyAngularDemo"
        target="_blank">
        <mat-icon>code</mat-icon>
      </a>
    </mat-toolbar>
    <router-outlet></router-outlet>

    <div [routerLink]="['zzh', 'demo']" routerLinkActive="active" style="width: 100px; height: 100px;" matRipple matRippleCentered=true matRippleRadius=50>Hi</div>
  </mat-sidenav-container>
</div>





<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile *ngFor="let title of titles" [colspan]="title.cols" [rowspan]="title.rows" [style.background]="title.color">
    {{title.text}}
  </mat-grid-tile>
</mat-grid-list>

<div style="width: 100px; height: 100px; background: orange; margin: 20px; border-radius: 50%; position: relative;">
  <mat-icon style="color: white; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">check_circle</mat-icon>
</div>

<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet> -->