.home-toolbar {
    position: fixed;
    top: 0;
    z-index: 2;
}
.home-title {
    font-size: 20px;
    margin-left: 15px;
}

.view-source-code {
    margin: 0 15px 0 0;
}

theme-picker {
    margin: 0 15px 0 0;
}

@mixin custom_list_width($width) {
    width: $width;
}

.custom_list {
    background: red;
    @include custom_list_width(50%);
}

.active {
    background: purple;
}