:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.size-limitation {
    max-height: 500px;
    ::ng-deep td {
        min-width: 180px;
    }
}

mat-radio-button {
    margin-left: 15px;
}

mat-list {
    margin-bottom: 15px;
}

mat-slider {
    width: 50%;
    margin-bottom: 15px;
}

.sort-column-selector, .sticky-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;

    mat-checkbox:not(:first-child) {
        margin-left: 25px;
    }
}

.sticky-selector {
    span {
        width: 100px;
    }
}

