:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-form-field {
    flex: 1;
}

.table-filter-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.table-filter-button {
    margin-left: 20px;
    margin-right: 5px;
}