<app-demo-item title="Basic Table">
  <app-awesome-table [data$]="data$" [columnConfigs]="columnConfigs" [showPaginator]="false">
  </app-awesome-table>
</app-demo-item>
<app-demo-item title="Table With Paginator">
  <app-awesome-table [data$]="data$" [columnConfigs]="columnConfigs" [pageSizeOptions]="[5, 10, 20]">
  </app-awesome-table>
</app-demo-item>
<app-demo-item title="Table With Sorting">
  <app-awesome-table [data$]="data$" [columnConfigs]="columnConfigs" [pageSizeOptions]="[5, 10, 20]" sortable="true">
  </app-awesome-table>
</app-demo-item>
<app-demo-item title="Table With Filter">
  <app-awesome-table [data$]="data$" [columnConfigs]="columnConfigs" [pageSizeOptions]="[5, 10, 20]" sortable="true"
    filterable="true">
  </app-awesome-table>
</app-demo-item>