<app-demo-item title="Table With Sticker">
  <mat-checkbox [(ngModel)]="stickyHeader">Sticky Header</mat-checkbox>
  <app-awesome-table class="height-limitation" [data$]="data$" [columnConfigs]="columnConfigs" [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]" filterable="true" contentAlign="center" border="horizontal"
    [stickyHeader]="stickyHeader">
  </app-awesome-table>
</app-demo-item>
<app-demo-item title="Basic Table">
  <app-awesome-table [data$]="data$" [columnConfigs]="columnConfigs" [showPaginator]="false">
  </app-awesome-table>
</app-demo-item>
<app-demo-item title="Table With Paginator">
  <app-awesome-table [data$]="data$" [columnConfigs]="columnConfigs" [pageSizeOptions]="[5, 10, 20]">
  </app-awesome-table>
</app-demo-item>
<app-demo-item title="Table With Sorting">
  <div class="sort-column-selector">
    <mat-checkbox [(ngModel)]="sortDisabled">Disabled</mat-checkbox>
  </div>
  <div class="sort-column-selector" *ngIf="!sortDisabled">
    <mat-checkbox *ngFor="let columnConfig of columnConfigs" [(ngModel)]="columnConfig.sortable">
      {{columnConfig.header}}
    </mat-checkbox>
  </div>
  <app-awesome-table [data$]="data$" [columnConfigs]="columnConfigs" [sortable]="!sortDisabled">
  </app-awesome-table>
</app-demo-item>
<app-demo-item title="Table With Filter">
  <app-awesome-table [data$]="data$" [columnConfigs]="columnConfigs" sortable="true" filterable="true"
    filterPlaceholder="Input your filter value">
  </app-awesome-table>
</app-demo-item>

<app-demo-item title="Table With Content Align & Border">
  <mat-list>
    <mat-list-item>
      Content Align:
      <mat-radio-group [(ngModel)]="contentAlign">
        <mat-radio-button value="start">start</mat-radio-button>
        <mat-radio-button value="center">center</mat-radio-button>
        <mat-radio-button value="end">end</mat-radio-button>
      </mat-radio-group>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      Border:
      <mat-radio-group [(ngModel)]="border">
        <mat-radio-button value="none">none</mat-radio-button>
        <mat-radio-button value="vertical">vertical</mat-radio-button>
        <mat-radio-button value="horizontal">horizontal</mat-radio-button>
        <mat-radio-button value="all">all</mat-radio-button>
      </mat-radio-group>
    </mat-list-item>
  </mat-list>
  <app-awesome-table [data$]="data$" [columnConfigs]="columnConfigs" [contentAlign]="contentAlign" [border]="border">
  </app-awesome-table>
</app-demo-item>
<app-demo-item title="Table With Elevation">
  <mat-slider thumbLabel max="24" min="0" [(ngModel)]="elevation"></mat-slider>
  <app-awesome-table [data$]="data$" [columnConfigs]="columnConfigs" [pageSizeOptions]="[5, 10, 20]"
    [elevation]="elevation">
  </app-awesome-table>
</app-demo-item>

<!-- <div style="width: 30%; height: 200px; background: cadetblue; display: flex; flex-direction: column;">
    <div style="flex: none; height: 50px; background: burlywood">1</div>
    <div style="flex: auto; background: brown; display: flex; flex-direction: column;">
      <div style="background: chartreuse;">2-1</div>
      <div style="overflow: auto;">
        This text is really long and the height of its container is only 100
        pixels. Therefore, a scrollbar is added to help the reader to scroll the content. Lorem ipsum dolor sit amet,
        consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        volutpat.
        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
        commodo
        consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
        dolore
        eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
        delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue
        nihil
        imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis
        in
        iis qui facit eorum claritatem.
      </div>
    </div>
    <div style="flex: none; height: 50px; background: burlywood">3</div>
  </div> -->