<form [formGroup]="form">
  <div class="table-filter-wrapper">
    <mat-form-field>
      <input matInput formControlName="filter" [placeholder]="placeholder">
      <button mat-icon-button matSuffix (click)="clearFilter()">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
    <button mat-stroked-button class="table-filter-button" [matMenuTriggerFor]="filterMenu">{{buttonText}}</button>
  </div>
</form>

<mat-menu #filterMenu="matMenu">
  <button mat-menu-item (click)="switchFilter()">ALL</button>
  <button mat-menu-item *ngFor="let columnConfig of columnConfigs"
    (click)="switchFilter(columnConfig)">{{columnConfig.header || columnConfig.name}}</button>
</mat-menu>