/* You can add global styles to this file, and also import other style files */
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';

//@import 'scss_file_name'
//@include mixin_name
/* @mixin name {

// } */


@import '~@angular/material/theming';
@include mat-core();

$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include angular-material-theme($candy-app-theme);

.candy-theme {
    @include angular-material-theme($candy-app-theme);
}

$deeppurple-amber-primary: mat-palette($mat-deep-purple);
$deeppurple-amber-accent: mat-palette($mat-amber, 200, 100, 400);
$deeppurple-amber-theme: mat-light-theme($deeppurple-amber-primary, $deeppurple-amber-accent);

$indigo-pink-primary: mat-palette($mat-indigo);
$indigo-pink-accent:  mat-palette($mat-pink, A200, A100, A400);
$indigo-pink-theme: mat-light-theme($indigo-pink-primary, $indigo-pink-accent);

$pink-bluegrey-primary: mat-palette($mat-pink);
$pink-bluegrey-accent:  mat-palette($mat-blue-grey, A200, A100, A400);
$pink-bluegrey-theme: mat-dark-theme($pink-bluegrey-primary, $pink-bluegrey-accent);

$purple-green-primary: mat-palette($mat-purple);
$purple-green-accent:  mat-palette($mat-green, A200, A100, A400);
$purple-green-theme: mat-dark-theme($purple-green-primary, $purple-green-accent);

.deeppurple-amber-theme {
    @include angular-material-theme($deeppurple-amber-theme);
}

.indigo-pink-theme {
    @include angular-material-theme($indigo-pink-theme);
}

.pink-bluegrey-theme {
    @include angular-material-theme($pink-bluegrey-theme);
}

.purple-green-theme {
    @include angular-material-theme($purple-green-theme);
}

body, html {
    height: 100%;
    margin: 0;
  }

// body, html{
//     height: 100%;
//     background-color: blue;
// }
// body{
//     margin: 0;
//     background-color: rgba(255,0,0,.5);
// }

.fill-spacer {
    flex: 1 1 auto;
}