$theme-picker-cell-size: 48px;
$theme-picker-swatch-size: 36px;

//default padding: 0 16px;
[mat-menu-item] {
    padding: 0;
}

//  36 + 6 * 2 = 48, the height in .mat-menu-item is 48px
.theme-picker-swatch {
    position: relative;
    width: $theme-picker-swatch-size;
    height: $theme-picker-swatch-size;
    margin: ($theme-picker-cell-size - $theme-picker-swatch-size) / 2;
    border-radius: 50%;
    overflow: hidden;
}

.theme-picker-chosen-icon {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}